.banner{
  padding: 40px 0 40px 7.11%;
  background: url(../img/back.png) no-repeat center center/ cover;
  span{
    background: #403f44;
    display: block;
    padding: 0 20px;
    line-height: 70px;
    max-width: 320px;
    font-size: 35px;
    color: #ffeb00;
  }
}