.info-button{
  display: block;
  min-width: 190px;
  padding: 0 20px;
  color: #ffea00;
  background: #424147;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;


}
.btn-style {
  position: relative;
  left: 100%;
  display: block;
  color: #fff;
  background: black;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid ;
  padding: 0 13px;
  line-height: 37px;
  transform: translate(-100%);

}


.btn{
  margin-top: 20px;
  &-transp{
    margin: 100px 0;
    border: 1px solid rgba(38, 38, 38, 0.3);
    background-color: transparent;
    transition: .5s;
    &:hover {
      color: #ffffff;
      background-color: #e7434e;
    }
  }
  &-accent{
    background-color: #e7434e;
    color: #ffffff;
    transition: .3s;
    &:hover {
      color: #1c1c1c;
      background-color: #F6E2E3;
    }
  }

}
.btn-nav{
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 35px;
  text-align: center;
  font: 700 $fsize-md "Raleway";
  }

/*
.btn-accent{
  background-color: $accent-color;
  color: $base-color;
  padding: 25px 45px;
  border-radius: 5px;
  text-align: center;
  font: 700 14px/22px "Raleway";
}
*/