
$base-color: #f6f6f6;
$accent-color: #ffeb00;
$dark-color: #000;

$darken-color: #403f46;
$light-color: #eff2f6;
$footer-color: #3f3f44;



/*-------------------------------------header---------------------------------------*/
.bg-accent-color{
  background: gray;
}
.base-color{
  color:#FFFFFF;
}
.accent-color{
  color:#ff343d;
}
.bg-accent-light-color{
  background-color: #EAEFF3;
}


/*----------------------------------------------------------------------------*/

.gray-side{

  background-color: #EAEFF3;
}
.red-side{
  color:#ff343d;
}

/*---------------------------------------buttons-------------------------------------*/



/*--------------------------------------------------------------------------*/

