@font-face {
  font-family: 'gothic';
  src: url('../fonts/gothic.eot');
  src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}
@font-face {
  font-family:'Code Light';
  src: url('../fonts/Code-Light.eot');
  src: url('../fonts/Code-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Code-Light.woff2') format('woff2'),
  url('../fonts/Code-Light.woff') format('woff'),
  url('../fonts/Code-Light.svg#Code-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FD;
}
$fsize-xxs: 8px;
$fsize-xs: 12px;
$fsize-xs: 13px;/*----*/

$fsize-sm: 15px;
$fsize-md: 16px; /*----*/

$fsize-lg: 18px;
$fsize-xl: 30px;
$fsize-xxl: 60px;
$fsize-xxxl: 72px;

$fweight-xs: 600;
$fweight-sm: 700;
$fweight-md: 800;

/*-------------------------------------line-height--------------------------------------*/
.text-line-height-xs{
  line-height: 24px;
}
.text-line-height-sm{
  line-height: 28px;
}
.text-line-height-md{
  line-height: 30px;
}
.text-line-height-lg{
  line-height: 36px;
}
/*-------------------------------------Gothic---------------------------------------*/
.text-xs-opensans{
  font: 700 $fsize-xxs "gothic";
  line-height: 18px;
}
.text-sm-opensans-lh-sm{
  font: 400 14px "gothic";
  line-height: 22px;
}
.text-sm-opensans{
  font: 400 14px "gothic";
  line-height: 34px;
}
.text-md-opensans{
  font: 400 16px "gothic";
  line-height: 22px;
}
.text-lg-opensans{
  font: 400 18px "gothic";
  line-height: 32px;
}
.text-xl-opensans{
  font: 700 30px "gothic";
  line-height: 22px;
}
.text-xl-opensans-light{
  font: 400 30px "gothic";
  color: #FFFFFF;
  line-height: 24px;
}
.text-xl-opensans-light-lh-n{
  font: 400 30px "gothic";
  color: #FFFFFF;
}
.text-xxxl-opensans{
  font: 300 $fsize-xxxl "gothic";
  line-height: 72px;
}
/*-------------------------------------gothic---------------------------------------*/

.text-xxs-gothic{
  font: 500 $fsize-xxs "gothic";
  color: #1c1c1c;
  line-height: 28px;
}
.text-xs-gothic{
  font: 400 $fsize-xs "gothic";
  color: #fff;
  line-height: 21px;
}
.text-sm-gothic{
  font: 400 $fsize-sm "gothic";
  color: #fff;
  line-height: 22px;
}
.text-sm-gothic-bold{
  font: 700 $fsize-sm "gothic";
  color: #fff;
  line-height: 22px;
}
.text-md-gothic{
  font: 700 $fsize-md "gothic";
  color: #1c1c1c;
  line-height: 24px;
}
.text-md-gothic-color{
  font: 700 $fsize-md "gothic";
  color: #FFFFFF;
  line-height: 24px;
}
.text-lg-gothic{
  font: 400 $fsize-lg "gothic";
  color: #fff;
  line-height: 34px;
}
.text-xl-gothic{
  font: 400 $fsize-xl "gothic";
  color: #1c1c1c;
  line-height: 28px;
}
.text-xxl-gothic{
  font: 700 $fsize-xxl "gothic";
  color: #FFFFFF;
  line-height: 24px;
}
.text-xxxl-gothic-lh-n{
  font: 700 $fsize-xxxl "gothic";
  color: #FFFFFF;
}
.text-xxxl-gothic{
  font: 700 $fsize-xxxl "gothic";
  color: #FFFFFF;
  line-height: 28px;
}