.footer{

  h5{
    margin-bottom: 25px;
  }
    form{

    input{

    }
    .button-text-color{

      &:hover {

      }
    }
  }


}
//@media (max-width: 920px) {
//  right:65%;
//}
//@media (max-width: 768px) {
/*right:0;
top:10.6vh;
left:0;
text-align: center;*/
//}