.single-post {
  width: 61.3%;
  padding-top: 85px;
  margin-left: 5%;

  .img-block {
    img {
      display: block;
      width: 100%;
    }
  }

  .title-block {
    background: #ffeb00;
    position: relative;
    padding: 25px 10px;
    text-align: right;
    &:before {
      position: absolute;
      width: 0;
      height: 0;
      right: 10%;
      bottom: 100%;
    }
    .title{
      display: block;
    }
    .like-button{
      display: inline-block;
      position: relative;
      margin-right:1.5%;
      vertical-align: middle;
      &:before{
        position: absolute;
        content: '';
        background: url(../img/heart-icon.png) no-repeat center center;
        width: 13px;
        height: 10px;
        top: 0;
        left: -20px;
        bottom: 0;
        margin:auto;
    }
    }
    .title-list{
      display: inline-block;
      vertical-align: middle;
      li{
        display: inline-block;
        vertical-align: middle;
        padding-right: 15px;
        &:last-child{
          padding-right: 0;
        }
        &:before{
          content: '\2044';
        }
      }
    }
  }
  .text-block{

  }
  .share-posts{
    font-size: 0;
    li{
      display: inline-block;
      vertical-align: top;
      padding-left: 25px;
      &:first-child{
        padding-left: 0;
      }
    }
    a{
      display: block;
      padding: 0 15px 0 45px;
      color: #424147;
      background-repeat: no-repeat;
      background-position: center left;
      background-color: #ffeb00;
    }
    .facebook{
      background-image: url(../img/facebook1.png);
    }
    .google{
      background-image: url(../img/google-plus.png);
    }
    .twitter{
      background-image: url(../img/twitter.png);
    }
    .linkedin{
      background-image: url(../img/linkedin.png);
    }
  }
  .related-posts {
    padding: 40px 0;
    border-bottom: 1px solid #cacaca;
    .post-list {
      display: flex;
      justify-content: space-between;
      padding-top: 25px;
      li {
        width: 32%;
      }
    }
    .post-image {
      img {
        display: block;
        width: 100%;
      }
    }
    .post-title {
      display: block;
      padding: 10px;
      color: #000;
      background-color: #ffea00;
      font-size: 13px;

    }
  }

  .leave-comment {

  .form-block {
    padding-top: 25px;
    font-size: 0;
    input {
      display: inline-block;
      width: 50%;
      margin-right: 2%;
      margin-bottom: 20px;
      &:nth-child(2n){
        margin-right: 0;
      }
    }
    textarea, input {
      color: #424147;
      border: none;
      padding: 15.5px 20px;
      font-size: 15px;
    }
    textarea {
      display: block;
      width: 100%;
      min-height: 170px;
      resize: none;
    }
  }
  }



}